<div class="context">
  <p>
    Welkom op onze website!
  </p><p>
    Wij zijn Wout Bauwens en Olivier Courtens.
    Onze passie voor sport en het overdragen van onze ervaring vinden wij zeer belangrijk en het inspireren van mensen om dit ook te doen is voor ons zeer inspirerend.
    Daarom hebben wij een organistatie opgericht om mensen aan te zetten tot sporten en hen te begelijden naar een sportschema dat op uw maat geschreven is.
  </p>
  Dankzij ons aanvullende passies in de sporten hebben wij een ruim aanbod aan sport.
  Ons aanbod bestaat uit:
  <ul>
    <li>Klimmen</li>
    <li>Kajak</li>
    <li>Fitness</li>
    <li>Trekken</li>
    <li>Fietsen</li>
    <li>Zwemmen</li>
    <li>Lopen</li>
  </ul>
</div>
