<div class="header">

  <div class="navigation">
    <mat-toolbar color="primary">

      <mat-toolbar-row>
        <span class="spacer"></span>

        <a routerLink="/home">
          <mat-icon class="icon">home</mat-icon>
        </a>
        <a routerLink="/caloriecalc">
          <mat-icon class="icon">fastfood</mat-icon>
        </a>
        <a routerLink="/statistics">
          <mat-icon class="icon">trending_up</mat-icon>
        </a>
        <a routerLink="/map">
          <mat-icon class="icon">map</mat-icon>
        </a>
        <a routerLink="/profiel">
          <mat-icon class="icon">face</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
