div {
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;

  .header {
    height: 64px;
    background: #2D2E2E;
  }

  .content {
    display: flex;
    height: 100%;
    background-image: url("stakeout.jpg");
  }

  .context {
    margin: 50px;
  }

  .navigation {
    height: 64px;

    mat-toolbar {
      background: #2D2E2E;

      .icon {
        color: white;
        padding: 0 14px;
      }

      .spacer {
        margin-left: 50px;
      }
    }
  }
}
