:host {
  display: flex;
  flex-direction: column;

  div {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    input {
      flex-basis: 85%;
      font-size: 1rem;
      color: #999999;
      padding-left: 10px;
      border: none;
      text-align: right;
      padding-right: 1rem;
      text-transform: uppercase;
    }
    button {
      flex-basis: 15%;
      font-size: 1rem;
      color: #555555;
    }
  }

}